@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {



  :root {
    --background: 270 100% 95%;
    --foreground: 270 5% 0%;
    --card: 270 50% 90%;
    --card-foreground: 270 5% 10%;
    --popover: 270 100% 95%;
    --popover-foreground: 270 100% 0%;
    --primary: 270 95.2% 75.3%;
    --primary-foreground: 0 0% 0%;
    --secondary: 270 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 232 30% 85%;
    --muted-foreground: 270 5% 35%;
    --accent: 232 30% 80%;
    --accent-foreground: 270 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 270 5% 90%;
    --border: 270 30% 50%;
    --input: 270 30% 18%;
    --ring: 270 95.2% 75.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 270 13% 10%;
    --foreground: 270 5% 90%;
    --card: 270 13% 10%;
    --card-foreground: 270 5% 90%;
    --popover: 270 13% 5%;
    --popover-foreground: 270 5% 90%;
    --primary: 270 95.2% 75.3%;
    --primary-foreground: 0 0% 0%;
    --secondary: 270 13% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 232 13% 25%;
    --muted-foreground: 270 5% 60%;
    --accent: 232 13% 25%;
    --accent-foreground: 270 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 270 5% 90%;
    --border: 270 20% 26%;
    --input: 270 20% 26%;
    --ring: 270 95.2% 75.3%;
    --radius: 0.5rem;
  }


}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.Enable {
  cursor: pointer;
  pointer-events: visible;

}

.Disable {
  background-color: red;
  pointer-events: none;
}

.map-component-wrapper {
  max-height: 100vh;
}

.doctors-list {
  min-height: 100vh;
  max-height: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 20px;
}

.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}


.text-gradient {
  background: linear-gradient(to right, hsl(270, 95.2%, 85.3%), hsl(270, 95.2%, 65.3%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.map-container {
  height: 85vh;
  width: 40vw;
  margin-top: 20px;
}

/* Styles for tablets */
@media (max-width: 768px) {
  .map-container {
    height: 70vh;
    width: 100vw;
  }
}

/* Styles for mobile devices */
@media (max-width: 480px) {
  .map-container {
    height: 50vh;
    width: 100vw;
  }
}
